body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MainBlock {
    color: #2E3A59;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
}

.MainBlock h1,
h3 {
    font-size: 1em;
}

.MainBlock h3 {
    font-size: 0.8em;
}

.MainBlock-toppart h1 {
    text-transform: uppercase;
}

.MainBlock-background {
    z-index: -1;
    display: flex;
    position: relative;
    bottom: 750px;
    align-items: center;
    justify-content: space-between;
}

.MainBlock-background :last-child {
    position: relative;
    border-radius: 0px;
    bottom: 120px;
    right: 15px;
}

.Mainblock-vector {
    display: flex;
    flex-direction: column;
}

.Mainblock-vector p {
    width: 176px;
    height: 56px;
    font-size: 16px;
}

.Mainblock-vector-up {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Mainblock-vector-mid {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Mainblock-vector-bot {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainBlock-reviews_qas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.MainBlock_reviews_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.MainBlock_reviews_list>div {
    display: flex;
    margin-bottom: 55px;
}

.MainBlock_reviews_list>div:first-child {
    height: 200px;
    width: 960px;
    position: relative;
    left: 100px;
}

.MainBlock_reviews_list div:first-child .textContainer {
    height: 201px;
    width: 489px;
}

.MainBlock_reviews_list div:first-child .author_pic {
    width: 187px;
    height: 187px;
}

.author_pic {
    width: 97px;
    height: 97px;
}

.commas {
    height: 26px;
    width: 20px;
}

.MainBlock_reviews_list div:first-child .second_commas_block {
    position: relative;
    top: 150px;
}

.MainBlock_reviews_list div:not(:first-child) .first_commas_block {
    display: none;
}

.MainBlock_reviews_list div:not(:first-child) .second_commas_block {
    display: none;
}

.textContainer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 15px;
    width: 242px;
    height: 129px;
}

.MainBlock_reviews_list div:not(:first-child) .textContainer span:first-child {
    overflow: hidden;
}

.MainBlock_qas_list div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainBlock_qas_list div:last-child button {
    border: none;
}

.MainBlock_qas_list button {
    width: 702px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-bottom: 1px solid;
    border-color: #E7EBF0;
    background: #FFFFFF;
    font-size: large;
    font-weight: 700;
    color: #2E3A59;
    transition: 0.05s ease-out;
}

.MainBlock_qas_list button img:first-child {
    width: 40px;
    height: 40px;
}

.MainBlock_qas_list img:last-child {
    position: relative;
    left: 260px;
    transition: 0.3s ease-out;
}

.QAContainer_text {
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    transition: max-height 0.2s ease-out;
    width: 560px;
    font-size: 16px;
}

.vector_image img {
    position: relative;
}

.vector_image_headphone {
    position: relative;
    left: 50px;
}

.vector_image_headphone img {
    position: relative;
}

.phones-2 {
    bottom: 23px;
    right: 52px;
}

.phones-3 {
    bottom: 20px;
    right: 114px;
}

.phones-4 {
    right: 65px;
    bottom: 20px;
}

.phones-5 {
    right: 100px;
    top: 12px;
}

.smart-1 {
    top: 20px;
    left: 10px;
}

.smart-3 {
    bottom: 17px;
    right: 30px;
}

.vector_image_tablet {
    position: relative;
    left: 40px;
}

.vector_image_tablet img {
    position: relative;
}

.tablet-2 {
    bottom: 62px;
    right: 49px;
}

.tablet-3 {
    right: 92px;
}

.vector_image_bluetooth {
    position: relative;
    right: 40px;
}

.vector_image_bluetooth img {
    position: relative;
}

.tooth-1 {
    left: 140px;
    bottom: 8px;
}

.tooth-2 {
    left: 64px;
    top: 7px;
}

.tooth-4 {
    bottom: 33px;
    right: 31px;
}

.tooth-5 {
    top: 20px;
    right: 18px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-wrapper-logo-corner {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-style: italic;
    color: #A6ABBD;
}

.nav-wrapper-logo-corner h1 {
    margin-right: 25px;
}

.nav-wrapper-logo-corner-numbers {
    position: relative;
    bottom: 55px;
    left: 10px;
}

.nav-wrapper-logo-corner-arrow {
    position: relative;
    top: 30px;
}

.nav-wrapper button {
    width: 117px;
    height: 32px;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease-out;
}

.nav-wrapper button a {
    color: #A6ABBD;
    text-decoration: none;
}

@media (max-width:1920px) {
    .MainBlock-toppart {
        height: 947px;
    }
    .MainBlock_reviews_container {
        width: 960px;
        height: 1059px;
    }
    .MainBlock_qas_list {
        width: 960px;
        height: 829px;
    }
}

@media (max-width: 600px) and (max-height: 720px) {
    .container {
        display: flex;
    }
    h1 {
        font-size: 1.2em !important;
    }
    h2 {
        font-size: 0.8em !important;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 0.38em !important;
    }
    h3 {
        font-size: 0.3em !important;
    }
    #root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .MainBlock {
        display: flex;
        width: 100%;
        height: 465px;
        flex-direction: column;
    }
    .MainBlock-reviews_qas {
        display: flex;
        flex-direction: column;
        margin: 0px 25px;
        margin-top: 10px;
    }
    .MainBlock_reviews_container {
        width: 320px;
    }
    .MainBlock_reviews_list {
        flex-direction: column;
    }
    .MainBlock_reviews_list>div:first-child {
        display: flex;
        flex-direction: column;
        position: initial;
        width: 100%;
        height: 370px;
        align-items: center;
        border: 2px solid linear-gradient(to right bottom #00C36866, transparent 30%, transparent 70%);
        border-radius: 30px;
        box-shadow: 3px 6px 23px #00C36866;
        margin-top: 45px;
    }
    .review_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0;
        margin-bottom: 0px;
    }
    .nav-wrapper {
        justify-content: center;
    }
    .MainBlock_reviews_list div:first-child .author_pic {
        width: 97px;
        height: 97px;
        position: relative;
        bottom: 50px;
    }
    .author_pic {
        width: 59px;
        height: 59px;
    }
    .MainBlock_reviews_list div:first-child .second_commas_block {
        position: initial;
    }
    .MainBlock_reviews_list div:first-child .textContainer {
        width: 290px;
        text-align: center;
        position: relative;
        bottom: 40px;
    }
    .MainBlock_qas_list {
        width: 320px;
        height: 480px;
    }
    .MainBlock_qas_list div {
        align-items: flex-start;
    }
    .MainBlock_qas_list button {
        width: 360px;
        font-size: medium;
        margin-bottom: 10px;
        text-align: initial;
    }
    .QAContainer_text {
        font-size: small;
        width: 230px;
        position: relative;
        left: 23px;
    }
    .MainBlock_qas_list button img:first-child {
        left: 0px;
        width: 19px;
        height: 11px;
    }
    #MainBlock_berries {
        width: 390px;
        margin-bottom: 25px;
    }
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
    .vector_image_headphone {
        top: 10px
    }
    .vector_container p {
        position: relative;
        left: 100px;
    }
}